@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@import "tailwindcss";

* {

  font-family: 'Outfit', sans-serif;
}

@layer base {
   button{
    @apply cursor-pointer;
   }
}

body{
  overflow-x: hidden;
  background-color: #ffffff;
  color: #0f172a;
}

#myimage{
  animation-name: imagChange;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}


@media print {
  /* 1. Hide everything by default */
  body * {
    visibility: hidden;
  }

  /* 2. Show only the resume content and its parents */
  .resume-content-to-print,
  .resume-content-to-print * {
    visibility: visible;
  }

  /* 3. Position the resume at the very top-left of the printed page */
  .resume-content-to-print {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  /* Hide buttons or UI elements that might be inside the preview area */
  button, 
  .no-print {
    display: none !important;
  }
}

@keyframes moveRight {
  0% {
    transform: translateX(100%); /* Start completely off-screen left */
  }
  100% {
    transform: translateX(-50%); /* End completely off-screen right */
  }
}

.animate-move-right {
  animation: moveRight 15s linear infinite; /* Adjust '10s' to make it faster/slower */
  white-space: nowrap; /* Prevents text from wrapping */
  display: inline-block;
}